:root {
  --violet: hsl(257, 40%, 49%);
  --violettshadow: hsla(257, 40%, 29%, 0.5);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
  background-color: var(--violet);
  color: #fff;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  margin-top: 40px;
}

p {
  line-height: 1.5em;
  margin: 0;
}

img {
  display: block;
}

.background {
  width: 100vw;
  height: 100vh;
  background-image: url("images/bg-desktop.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.main-wrapper {
  margin: auto auto;
  max-width: 1400px;
  padding: 60px 60px 0 60px;
}

.logo {
  margin-bottom: 80px;
  width: 210px;
}

.hero-container {
  display: flex;
}

.hero-img {
  min-width: 400px;
  max-width: 700px;
  flex: 1 1 700px;
  margin-right: 60px;
}

.hero-img img {
  width: 100%;
}

.hero-content {
  display: flex;
  min-width: 350px;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 1 400px;
}

.btn {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  border: none;
  background: #fff;
  color: var(--violet);
  padding: 15px 64px;
  border-radius: 999px;
  text-decoration: none;
  box-shadow: 0 5px 10px 0 var(--violettshadow);
  margin: 20px 0 40px 0;
}

.social-links {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
}

.social-links i {
  border: 1px solid #fff;
  color: #fff;
  width: 40px;
  height: 40px;
  margin: 0 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 18px;
  cursor: pointer;
}

.social-links a {
  text-decoration: none;
}

footer {
  margin-top: 150px;
  margin-bottom: 10px;
}

@media (max-width: 920px) {

  .background {
    background-image: url("images/bg-mobile.svg");
    background-size: 100vw auto;
    background-position: top center;
    min-width: 0;
  }

  .logo {
    width: 130px;
    margin-bottom: 60px;
  }

  .main-wrapper {
    padding: 38px;
    max-width: 600px;
  }

  .hero-container {
    flex-direction: column;
  }

  .hero-img {
    min-width: 0;
    margin: 0 0 18px 0;
    flex: 0;
  }

  .hero-content {
    text-align: center;
    min-width: 0;
    flex: 0;
  }

  h1 {
    font-size: 24px;
  }

  .hero-content p {
    font-size: 16px;
  }

  .btn {
    align-self: center;
    margin: 20px 0;
    font-size: 12px;
    padding: 11px 75px;
  }

  .social-links {
    justify-content: center;
  }

  .social-links i {
    width: 25px;
    height: 25px;
    font-size: 14;
  }
}