:root {
  --pink: 322, 100%, 66%;
  --verypalecyan: 193, 100%, 96%;
  --verydarkcyan: 192, 100%, 9%;
  --grayishblue: 208, 11%, 55%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: hsl(var(--verydarkcyan));
  margin: 0;
  padding: 0;
}

h1, h2 {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 40px;
}

/* Buttons */
.btn {
  border-radius: 999px;
  border: none;
  padding: 1.2em 5em;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
}

.btn-primary {
  background-color: hsl(var(--pink));
  color: #fff;
  box-shadow: 0 3px 10px 0 hsla(var(--pink), 0.3);
}

.btn-primary:hover {
  transform: scale(1.1);
  box-shadow: 0 3px 15px 0 hsla(var(--pink), 0.5);
}

.btn-secondary {
  background-color: #fff;
  box-shadow: 0 3px 10px 0 rgba(0,0,0,.1);
  color: var(--verydarkcyan);
}

.btn-secondary:hover {
  /* background-color: hsl(0,0%,95%); */
  transform: scale(1.1);
  box-shadow: 0 3px 15px 0 rgba(0,0,0,.2);
}

.wrapper {
  padding-left: 80px;
  padding-right: 80px;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

/* Hero */

.main-wrapper {
  background: url("images/bg-hero-desktop.svg");
  background-color: hsl(var(--verypalecyan));
  background-size: 1440px auto;
  background-repeat: no-repeat;
  background-position: top center;
  padding-top: 53px;
  padding-bottom: 75px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 65px;
}

.logo-header {
  width: 200px;
  display: block;
}

.hero-container {
  display: flex;
  align-items: center;
}

.hero-img {
  display: block;
  flex: 0 1 690px;
}

.hero-content {
  padding-right: 70px;
  flex: 1;
  min-width: 420px;
}

.hero-content p {
  margin-bottom: 40px;
}

/* Feature Cards */
.feature-card-container {
  padding-top: 160px;
  max-width: 1230px;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-gap: 40px;
}

.feature-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 40px 50px 120px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
}

.card-content {
  min-width: 200px;
  max-width: 500px;
  text-align: inherit;
  flex: 1;
}

.feature-img {
  display: block;
  flex: 0 1 410px;
  height: auto;
  justify-self: end;
  margin-right: 50px;
}

.img-last .feature-img {
  order: 1;
}

.img-last .card-content {
  margin-right: 50px;
}

.card-content p {
  color: hsl(var(--grayishblue));
}

/* CTA */
.cta {
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  padding: 70px 20px 50px 20px;
  position: relative;
  top: 100px;
  background-color: #fff;
}

.cta h2 {
  margin: 0;
  margin-bottom: 36px;
  font-size: 32px;
}

.btn-cta {
  font-size: 20px;
  box-shadow: 0 3px 10px 0 rgba(0,0,0,.3);
}

/* Footer */
.footer-wrapper {
  background: hsl(var(--verydarkcyan));
  color: #fff;
  padding-top: 200px;
  padding-bottom: 40px;
  margin: 0;
}

.footer-container {
  max-width: 1200px;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px 0;
}

.contact-info {
  display: grid;
  grid-template-columns: 20px 1fr;
  align-items: start;
  grid-gap: 15px 20px;
  flex: 2;
  padding-right: 40px;
}

.contact-info img {
  margin-top: 6px;
}

.contact-detail {
  margin: 0;
  font-size: 15px;
  line-height: 1.7em;
  max-width: 320px;
}

.links-column {
  display: block;
  flex: 1;
}

.links-column {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 120px;
  flex: 1;
}

.links-column li {
  margin-bottom: 15px;
}

.links-column a {
  text-decoration: none;
  color: #fff;
}

.social-links {
  display: flex;
  align-items: flex-start;
  flex: 1;
}

.social-links i {
  border: 1px solid #fff;
  color: #fff;
  width: 30px;
  height: 30px;
  margin: 0 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 14px;
  cursor: pointer;
}

.social-links i:hover {
  transform: scale(1.2);
}

.social-links a {
  text-decoration: none;
}

.copyright {
  font-size: 12px;
  text-align: right;
}

@media (max-width: 900px) {

  .wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }

  .container {
    max-width: 500px;
  }

  .main-wrapper {
    background-image: url("images/bg-hero-mobile.svg");
    background-size: 700px auto;
    background-position: left bottom;
    padding-top: 20px;
  }

  .logo-header {
    width: 100px;
  }

  .btn-primary {
    padding: 1em 5em;
    font-size: 12px;
  }

  .btn-secondary {
    padding: 0.5em 2em;
    font-size: 10px;
  }

  h1 {
    font-size: 24px;
  }

  .hero-container {
    flex-direction: column;
    padding: 0 25px;
  }

  .hero-content {
    padding: 0;
    text-align: center;
    min-width: 0;
  }

  .hero-content p {
    font-size: 16px;
  }

  .hero-img {
    width: 100%;
    height: auto;
    flex: auto;
    margin-top: 56px;
  }

  .feature-card-container {
    padding-top: 59px;
  }

  .feature-card {
    flex-direction: column;
    padding: 20px 40px;
  }

  .img-last .feature-img {
    order: initial;
  }

  .feature-img {
    margin: 30px 0;
    padding: 10px;
    width: 100%;
    height: auto;
    flex: auto;
  }

  .card-content {
    text-align: center;
  }

  .card-content h2 {
    font-size: 20px;
  }

  .card-content p {
    font-size: 14px;
    padding: 0 5px;
  }

  .img-last .card-content,
  .card-content {
    margin: 0;
  }

  .cta {
    padding: 40px 20px;
    top: 60px;
  }

  .cta-wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }

  .cta h2 {
    font-size: 18px;
    margin-bottom: 22px;
  }

  .btn-cta {
    font-size: 10px;
    padding: 1.5em 5em;
  }

  .footer-wrapper {
    padding-top: 130px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .logo-footer {
    width: 170px;
  }

  .footer-links {
    flex-direction: column;
    padding: 20px 0;
  }

  .contact-info {
    padding-right: 0;
    margin-bottom: 60px;
  }

  .social-links {
    margin-top: 50px;
    align-self: center;
  }

  .copyright {
    text-align: center;
  }
}